.fs-1-rem-lg-1-5rem {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: 1.5rem;
  }
}

.fs-1-5-rem-lg-2rem {
  font-size: 1.5rem;

  @include media-breakpoint-up("lg") {
    font-size: 2rem;
  }
}

.fs-2-rem-lg-4rem {
  font-size: 2rem;

  @include media-breakpoint-up("lg") {
    font-size: 4rem;
  }
}
